# Dataset
data/

# Model checkpoints
models/
*.pth

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Logs
logs/

# Cache
.cache/

# Environment
.env
venv/

# Untitled notebooks
Untitled.ipynb
